/* Work Sans font from google */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header section style */

nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.gamer-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamer-title-img {
    width: 86px;
    height: 40px;
}

.about ul {
    display: flex;
    list-style: none;

}

.about ul a {
    text-decoration: none;
    margin-right: 20px;
}

/* Banner section style */

.banner {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 240px;

}

.banner-info-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
}

.title-heading {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;

}

.btn {
    margin-top: 20px;
}

.btn-primary {
    width: 156px;
    height: 65px;
    border-radius: 40px;
    background: orchid;
    border-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.btn-secondary {
    width: 185px;
    height: 65px;
    border-radius: 40px;
    background: #4EC5F7;
    border-style: none;
}

/* gamer section style */

.gamer {
   margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 240px;
}

.gamer-img{
    width: 700px;
}

.gamer-info {
    text-align: right;
}

/* Funny Section style */

.funny{
    margin-top: 50px;
}

.funny-info {
    
    text-align: center;
}

.funny-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
}

/* play-instantly */

.play-instantly {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 150px;
    padding-left: 150px;
    
}

.play-info-title{
    color: #F948B2;
}

.play-img-2 {

    position: relative;
    top: -300px;
    right: 450px;
}

/* style for careers */

.careers{
    display: flex;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%); 
    padding-left: 240px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.careers-text{
    display: flex;
    justify-content: space-between;
    
}

.careers-text-2{
    text-align: right;
}


/* Style for Games Section */


.first-line-games{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
}
.second-line-games{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 50px;
}

.game{
    display: flex;
}